# Changes here will be overwritten by Copier
_commit: {{ _copier_conf.vcs_ref_hash }}
_src_path: {{ _copier_conf.src_path }}
author_name: {{ author_name }}
django_version: {{ django_version }}
project_name: {{ project_name }}
project_short_description: {{ project_short_description }}
project_slug: {{ project_slug }}
python_version: {{ python_version }}
version: {{ version }}
